html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f3f4f8;  
  font-family: 'inter'; 
}
.inicial 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
 max-width: 390px;
  margin: 0 auto;
  background: #fff;
  padding: 0 16px;
  position: relative; /* 🔥 CLAVE */
}

main{
 flex: 1;
}

:root {
  --primary: #5b3df5;
  --secondary: #ece9ff;
  --text: #222;
  --muted: #666;
  --radius: 16px;
}

.top-bar {
  width: 390px;
  margin-left: -16px;
  height: 64px;
  background: #4A28AF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.logo-header {
  max-height: 36px;        
  width: auto;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 24px;
}

.title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 20px;
  color: black;
  text-align: left;
}
.btn-primary strong {
  font-weight: 700;
}
.btn-primary {
  margin-top: 11px;
  width: 350px;
  min-height: 54px;
  border-radius: 11px;
  background: #684DDE;
  color: white;
  text-decoration: none;

  display: flex;
  flex-direction: column;   /* 👈 clave */
  justify-content: center;
  align-items: center;  /* 👈 izquierda */
  
  padding: 12px 16px;
  gap: 2px;;
}

.hero-metrics {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: #ffffff;
  margin-top: -25px;
}

.metrics-container {
   width: 350px;
  display: grid;
  grid-template-columns: repeat(2, 168.74px);
  grid-template-rows: repeat(2, 101.05px);
  gap: 12px; /* espacio entre tarjetas */
}

.metric-box {
  width: 168.74px;
  height: 101.05px;
  background-color: #F4EFFF;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.metric-box .p-title {
   margin: 0;
  font-size: 16px;
  font-weight: 800;
  color: #684DDE;
}

.metric-box p {
  margin: 6px 0 0;
  font-size: 16px;
  color: #222;
}

.apps-card {
  width: 350px;
  height: 163px;
  background-color: #F4EFFF;
  border-radius: 20px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  margin-top: 0px;
}

.apps-card .apps-text {
 font-size: 16px;
}

.apps-card .star {
color: #ffcc49;
font-size: 16px;
}

.rating {
display: flex;
  align-items: center; 
  justify-content: center; 
}

.rating-score {
font-size: 16px;
font-weight: 700;
}

.icon-cs{
  border-radius: 10px;
}

.store-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Botón 73x22 */
.store-btn {
  width: 196px;
  height: 50px;
  background-color: #000;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 10px;
  box-sizing: border-box;
}

/* Icono pequeño */
.store-icon {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

.store-texts {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.store-small {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.store-big {
  font-size: 13px;
  font-weight: 700;
}


.contact .contact-title {
   color: black;
   font-size: 16 px;
   
  }

.contact .contact-subtitle{
   color: black;
   font-size: 16 px;
  }

.btn-text .title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.btn-text .subtitle {
 font-size: 14px;
 color: white;
 margin: 0;
 line-height: 1.1;
 font-weight: 100;
}

.contact {
  border-radius: var(--radius);
  text-align: center;
  margin: 24px 0;
  margin-top: -40px;
}

.contact-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-top: 0px;
}

.btn-contact {
  display: flex;
  align-items: center;
  width: 100%;
  background: #684dde;
  border-radius: 16px;
  text-decoration: none;
  margin-bottom: 12px;
  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
}

.btn-left {
  display: flex;
  align-items: center; 
  gap: 12px;
}

.btn-text .title {
  text-align: left;
   font-size: 14px;
}

.btn-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;;
}

.btn-arrow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.footer {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -195px;
  margin-top: 20px;
  width: 390px;
  background: #4A28AF;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: auto;
}

.footer-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.footer-icon:hover {
  transform: scale(1.15);
}